{% extends "base.html" %}

{% block content %}
<div class="error-message">
    {{ message }}
</div>

<div><br/>This error has been logged<br/>Sorry about that</div>
<a href="{{ url_for('main.index') }}">Home</a>
{% endblock %}
