{% extends "base.html" %}

{% block content %}
<h1> Sign In </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} <br/>
            {{ form.username(size=32) }} 
            {% for error in form.username.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }} <br/>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }} 
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>New User?
        <a href="{{ url_for('user.register') }}">Click here to register</a>
    </p>
{% endblock %}
