@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

@font-face {
    font-family: 'Public Sans Fallback';
    src: url('/static/PublicSans-VariableFont_wght.ttf');
}

html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', 'Public Sans Fallback', sans-serif;
}

form div {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

table {
    width: 100%;
    margin: 0.15rem;
    border-collapse: collapse;
    padding: 
}

thead tr,
table .head {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

option {
    margin-bottom: 1px;
    padding-left: 0.1rem;
    padding-right 0.2rem;
}

#header {
    display: flex;
    justify-content: space-around;
    height: 5rem;
}

#menu {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-end;
    flex: 2;
}

#logo {
    /*width: 20rem;*/
    text-align: center;
    margin-right: auto;
    display: flex;
}

#logo-image {
    height: 4rem;
    width: 4rem;
    padding: 0rem;
    margin-left: 1rem;
}

.header-section {
    /*border: 1px solid #000;*/
    padding: 0.5rem;
    font-size: 1.4rem;
}

.header-item {
    padding: 1rem;
    margin-left: auto;
}

.collapsed .header-item {
    padding-top: 0;
    padding-bottom: 0;
}

.search-bar {
    padding: 1.5rem;
    padding-right: 1rem;
    font-size: 1.4rem;
}

#menu-toggle {
    display: none;
}

.page {
    width: 80%;
    margin: 0 auto;
    margin-bottom: auto;
}

.underbar {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.overbar {
    margin: 1.5rem;
    border-top: 1px solid black;
}

.error {
    color: red;
}

.user {
    border-radius: 2rem;
    color: #fff;
    /*background-color: #800080;*/
    background-color: #00539f;
    padding: 0.75rem;
    font-size: 1.4rem;
}

.error-message {
    font-size: 1.4rem;
}

.shaded {
    background-color: #E8E8E8;
}

.spacer {
    background-color: none;
    height: 1rem;
}

.clause {
    font-size: 0.75rem;
}

#header input[type="checkbox"] {
    /*display: none;*/
    opacity: 0;
    width: 0;
    float: left;
}

.toggle-label {
    cursor: pointer;
}

.submenu:focus-within {
    outline: 2px auto Highlight;
    outline: 2px auto -webkit-focus-ring-color;
}

.collapsed {
    display: none;
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

/*.toggle:checked + .collapsed,*/
.submenu:focus-within .collapsed {
    display: block;
}

.submenu {
    text-align: left;
}

.toggle-label::after {
    content: " ▾";
}

#header a {
    color: black;
}

#header label:hover {
    text-decoration: underline;
}

.edit {
    display: none;
}

#to-notes {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    height: 91vh;
    justify-content: space-between;
}

footer {
    width: 95%;
    display: flex;
    flex-direction: row;
}

footer * {
    padding-right: 2rem;
}

.footer-item {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.flashed {
    list-style-type: none;
}

.flashed .search,
.flashed .error {
    color: red;
    font-size: 1.25rem;
}

.logo {
    height: 1.4rem;
    width: 1.4rem;
}

.small-screen {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media (max-width: 1430px) {
    #menu-toggle {
        display: block;
        padding: 1.5rem;
        min-width: 5rem;
        min-height: 5rem;
        z-index: 10;
        font-size: 1.4rem;
    }

    .search-bar {
        z-index: 10;
    }

    .small-screen {
        width: fit-content;
        z-index: 10;
    }

    #menu {
        display: none;
    }

    #toggle:checked ~ .small-screen > #menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        padding: 0.5rem;
        padding-top: 5rem;
        top: 0;
        right: 0;
        background-color: #f79239;
        max-width: inherit;
        width: 20rem;
        height: 100%;
        text-align: end;
        z-index: 8;
    }

    .submenu {
        text-align: end;
    }

    #toggle:checked ~ .small-screen {
        position: fixed;
        top; 0;
        right: 0;
    }

    #header {
        justify-content: space-between;
    }

    .toggle:checked + .collapsed, .submenu:focus-within .collapsed {
        position: fixed;
        right: 0;
    }

    .toggle-label::after {
        content: none;
    }

    .toggle-label::before {
        content: "▾ ";
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 10px;
    }

    .page {
        width: 90%;
    }
}
