table {
    border-collapse: collapse;
}

form {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.25rem;
    margin-bottom: 0.5rem;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

input, select {
    margin-bottom: 0.5rem;
}

.header {
    background-color: black;
    color: white;
}

.team {
    width: 5rem;
    height: 2rem;
    margin: 0 auto;
}

.team-logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 auto;
}

.adjacent {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    #draft td:nth-child(5) {
        display: none;
    }
}
