table {
    border-collapse: collapse;
}

tr {
    padding: 0.25rem;
}

h2 {
    border-bottom: 1px solid black;
}

.bio tr td {
    width: 33%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h2 {
    margin-bottom: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
}

.contracts {
    margin: 2rem;
    padding: 0.15rem;
}

.contract {
    margin-bottom: 2rem;
}

.current {
    margin: 1rem;
    padding: 0.15rem;
}

.detail {
    width: 50%;
}

.detail h4 {
    margin-left: 0.5rem;
}

.seasons {
    width: 99%;
}

.seasons td {
    width: 13%;
}

.seasons .head {
    border-bottom: 1px solid black;
}

.contract .seasons tr {
    border-top: 1px solid darkgrey;
}

.terminate, .buyout {
    color: red;
}

.terminated td {
    text-decoration: line-through;
}

.current_team {
    max-width: 100px;
    max-height: 100px;
    margin-right: 1rem;
}

.bio_container {
    display: flex;
    flex-direction: row;
}

.current_season {
    background-color: #f79239;
}

.tr_stats_odd {
    background-color: #ecf1f3;
}

.tr_stats, .tdh_stats {
    color: white;
    background-color: black;
}

.contract-logo {
    width: 1.5rem;
    max-height: 1.5rem;
}

.contract-notes {
    border: 1px solid black;
    border-radius: 0.25rem;
}

.contract-notes ul {
    list-style: none;
}

.contract-notes li {
    margin: 0.5rem;
}

.contract ul {
    margin-top: 0.25rem;
    list-style: none;
}

@media (max-width: 1300px) {
    .seasons td:nth-child(6),
    .seasons td:nth-child(7) {
        display: none;
    }

    .bio strong:after {
        content: "\000A";
        white-space: pre;
    }

    .detail {
        width: 75%;
    }
}

@media (max-width: 1100px) {
    .table_stats td:nth-child(9),
    .table_stats td:nth-child(10),
    .table_stats td:nth-child(11),
    .table_stats td:nth-child(12),
    .table_stats td:nth-child(13),
    .table_stats td:nth-child(14),
    .table_stats td:nth-child(15) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .seasons td:nth-child(5),
    .seasons td:nth-child(4) {
        display: none;
    }

    .detail {
        width: 100%;
    }
}
