h3 {
    border-bottom: 1px solid black;
}

.questions {
    display: flex;
    width: 95%;
}

.section {
    width: 30%;
    margin: 0.5rem;
}

.form-question {
    padding-top: 0.5rem;
}

@media (max-width: 1000px) {
    .questions {
        flex-direction: column;
    }

    .section {
        width: 100%;
    }
}
