.teams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.team {
    width: 18rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin: 1rem auto;
}

.team-logo {
    max-height: 200px;
    max-width: 225px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h4 {
    margin-left: auto;
    margin-right: auto;
}
