select[id*='_adjust'] {
    min-width: 9rem;
}

.teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-right: auto;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
}

.team > div,
.team > .team-logo {
    margin: auto;
    padding-right: 2rem;
}

.team-logo {
    height: 200px;
    min-width: 200px;
}

.traded_away {
    opacity: 50%;
}

.traded_away span {
    display: none;
}

.traded_away:hover span {
    display: block;
}

table {
    width: 100%;
    margin: 0.15rem;
}

.team_picks {
    border-collapse: collapse;
    outline: 1px solid black;
}

.team_picks thead {
    background-color: black;
    color: white;
}

.team_picks td {
    text-align: center;
}

.rosters {
    margin-top: 3rem;
}

.roster {
    margin: 1% auto;
    border-collapse: collapse;
    width: 96%;
    text-align: center;
}

.number {
    text-align: left;
    padding-left: 5px;
}

.name {
    text-align: left;
    width: 15rem;
}

.roster .head {
    background-color: black;
    color: white;
}

.roster tbody {
    padding-bottom: 0.15rem;
}

.roster select {
    margin-top: 2px; 
    margin-bottom: 2px;
}

.row-logo {
    height: 1.4rem;
    width: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.ad_hoc {
    display: none;
    margin: auto;
}

.notes {
    table {
        width: fit-content;
    }

    td {
        padding-right: 0.75rem;
    }

    div {
        border-bottom: 1px solid black;
        margin-bottom: 0.5rem;
        padding-bottom: 0.1rem;
    }
}

@media (max-width: 1600px) {
    .roster td:nth-child(12),
    .roster td:nth-child(13) {
        display: none;
    }

    .team-logo {
        min-width: 15rem;
        height: 15rem;
    }
}


@media (max-width: 1400px) {
    .roster td:nth-child(11), 
    .roster td:nth-child(10) {
        display: none;
    }

    .name {
        width: fit-content;
        padding-right: 1rem;
    }
}

@media (max-width: 1250px) {
    .roster td:nth-child(9),
    .roster td:nth-child(8) {
        display: none;
    }
}

@media (max-width: 1100px) {
    #show-collapsed-columns:not(:checked) ~ .page .team_picks {
        width: fit-content;
        display: flex;
        overflow: hidden;
    }

    #show-collapsed-columns:not(:checked) ~ .page .team_picks thead {
        display: flex;
        flex-shrink: 0;
        min-width: min-content;
    }

    #show-collapsed-columns:not(:checked) ~ .page .team_picks tbody {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    #show-collapsed-columns:not(:checked) ~ .page .team_picks tr {
        display: flex;
        flex-direction: column;
        min-width: min-content;
        flex-shrink: 0;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    #show-collapsed-columns:not(:checked) ~ .page .team_picks td,
    #show-collapsed-columns:not(:checked) ~ .page .team_picks th {
        display: block;
    }

    #show-collapsed-columns:not(:checked) ~ .page .team_picks td {
        padding-bottom: 0.4rem;
    }

    #show-collapsed-columns:not(:checked) ~ .page .team_picks th:not(:last-child),
    #show-collapsed-columns:not(:checked) ~ .page .team_picks td:not(:last-child) {
        border-bottom: 0;
        height: 2rem;
    }

    .season {
        font-weight: bold;
    }

    .team {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    .team_picks {
        margin-left: auto;
        margin-right: auto;
    }
    
}
