<tr id="pick_{{ pick['id'] }}">
    <td class="team">
        {% if pick['team'] != "NHL" %}
        <a href="/team/{{ pick['team'] }}">
            <img class="team-logo" alt="{{pick['team']}} logo (owns pick)" src="{{ url_for('static', filename=data['logos'][pick['team']]) }}">
        </a>
        {% endif %}
    </td>
    <td class="team">
        {% if pick["original"] %}
        <a href="/team/{{ pick['original'] }}">
            <img class="team-logo" alt="{{pick['original']}} logo (originated pick)" src="{{ url_for('static', filename=data['logos'][pick['original']]) }}">
        </a>
        {% else %}
        &nbsp;-
        {% endif %}
    </td>
    <td>
        {% if pick["position"] %}
        {{ pick["position"] }}
        {% else %}
        <input class="position" size="3">
        <input class="set_position" type="button" value="Set">
        {% endif %}
    </td>
    <td>
        {% if pick["player"] %}
        <a href="/person/{{ pick['person_id'] }}">{{ pick["player"] }}</a>
        {% else %}
        <input class="name" type="text" size="20" placeholder="Name">
        <input class="check_name" type="button" value="Validate">
        <input class="set_name" type="button" value="Set">
        {% endif %}
    </td>
    <td>
        {{ "<br/>".join(pick["note"])|safe or "-" }}
    </td>
    <td>
        <a href="{{ url_for('admin.display_notes', table='draft_pick', record_id=pick['id']) }}">Pick Notes</a>
    </td>
</tr>
