<h2>Data</h2>
<form class="team-season-data">
    <p>
        <strong>Team ID:</strong> {{record.team_id}}<br/>
        <strong>Season ID:</strong> {{record.season_id}}
    </p>
    <label for="cap-hit">
        <strong>Cap Hit</strong>
        <input type="number" id="cap-hit" name="cap-hit" value="{{ record.cap_hit }}">
    </label>
    <label for="projected-cap-hit">
        <strong>Projected Cap Hit</strong>
        <input type="number" id="projected-cap-hit" name="projected-cap-hit" value="{{ record.projected_cap_hit }}">
    </label>
    <label for="standings-points">
        <strong>Standings Points</strong>
        <input type="number" id="standings-points" name="standings-points" value="{{ record.standings_points }}">
    </label>
    <label for="contract-count">
        <strong>Contract Count</strong>
        <input type="number" id="contract-count" name="contract-count" value="{{ record.contract_count }}">
    </label>
    <label for="retained-contracts">
        <strong>Retained Contracts</strong>
        <input type="number" id="retained-contracts" name="retained-contracts" value="{{ record.retained_contracts}}">
    </label>
    <label for="max-ltir">
        <strong>Max LTIR Relief</strong>
        <input type="number" id="max-ltir" name="max-ltir" value="{{ record.max_ltir_relief }}">
    </label>
    <label for="ltir-contracts">
        <strong>LTIR Contracts</strong>
        <input type="number" id="ltir-contracts" name="ltir-contracts" value="{{ record.ltir_contracts}}">
    </label>
    <label for="bonus-overage">
        <strong>Bonus Overage</strong>
        <input type="number" id="bonus-overage" name="bonus-overage" value="{{ record.bonus_overage }}">
    </label>
    <label for="logo">
        <strong>Season Logo</strong>
        <input type="text" id="logo" name="logo" value="{{ record.logo }}">
    </label>
    <input type="button" id="update-team-season" value="Update">
</form>
