{% extends "base.html" %}

{% block content %}
    <h1>Create Person Record</h1>
    <div class="notes">
        <h3>Notes</h3>
        <ul>
            <li>Providing an NHL ID is recommended: the form will auto-fill itself (except Arbitration and Waivers)</li>
            <li>Birthplace should be Town, Province/State, Country</li>
            <li>Nationality should be all uppercase. The most common are: <br/>
                &nbsp;&nbsp;CAN, USA, SWE, RUS, FIN, CZE, SUI, and SVK
            </li>
            <li>NHL ID is the last part of a player page URL. Zach Parise's ID is 8470610 <br/>
                From his player page URL, you can see it at the end <br/>
                nhl.com/player/zach-parise-8470610
            </li>
            <li>
                Signing date defaults to today if not provided
            </li>
        </ul>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <ul>
            <li>
                <table class="biographical">
                    <tbody>
                        <tr>
                            <td>
                                <h3>Biographic Data</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    {{ form.nhl_id.label }} <br/>
                                    {{ form.nhl_id(size=9) }} 
                                    {% for error in form.nhl_id.errors %}
                                    <br/><span class="error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.ep_id.label }} <br/>
                                    {{ form.ep_id(size=9) }} 
                                    {% for error in form.ep_id.errors %}
                                    <br/><span class="error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.name.label }} <br/>
                                    {{ form.name(size=32) }} 
                                    {% for error in form.name.errors %}
                                    <br/><span class="error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.birthdate.label }} <br/>
                                    {{ form.birthdate() }} 
                                    {% for error in form.birthdate.errors %}
                                    <br/><span class="error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.birthplace.label }} <br/>
                                    {{ form.birthplace(size=48) }} 
                                    {% for error in form.birthplace.errors %}
                                    <br/><span class="error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form.nationality.label }} <br/>
                                    {{ form.nationality(size=3) }} 
                                    {% for error in form.nationality.errors %}
                                    <br/><span class="error">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                {{ form.aliases.label }} <br/>
                                {{ form.aliases(size=10) }} <br/>
                                <input id="new-alias" type="text" size="20"><br/>
                                <input id="add-alias" type="button" value="Add Alias">
                                {% for error in form.aliases.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <h3>Hockey Data</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="feet" for="inches">Height</label> <br/>
                                {{ form.feet(size=4) }}'  {{ form.inches(size=5) }}"
                                {% for error in form.feet.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                                {% for error in form.inches.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                                <br/><br/>

                                {{ form.weight.label }} <br/>
                                {{ form.weight(size=6) }} 
                                {% for error in form.weight.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                                <br/><br/>

                                {{ form.shoots.label }} <br/>
                                {{ form.shoots(size=2) }} 
                                {% for error in form.shoots.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.number.label }} <br/>
                                {{ form.number(size=5) }}
                                <br/><br/>

                                {{ form.position.label }} <br/>
                                {{ form.position(size=8) }} 
                                {% for error in form.position.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.active.label }} <br/>
                                {{ form.active() }} 
                                <br/><br/>

                                {{ form.arbitration.label }} <br/>
                                {{ form.arbitration() }} 
                                <br/><br/>

                                {{ form.waivers.label }} <br/>
                                {{ form.waivers() }} 
                                <br/><br/>

                                {{ form.rookie.label }} <br/>
                                {{ form.rookie() }} 
                            </td>
                            <td>
                                {{ form.captain.label }} <br/>
                                {{ form.captain() }} 
                                <br/><br/>

                                {{ form.alternate_captain.label }} <br/>
                                {{ form.alternate_captain() }} 
                                <br/><br/>

                                {{ form.non_roster.label }} <br/>
                                {{ form.non_roster() }} 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                {{ form.submit() }} 
                {% for error in form.submit.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </li>
        </ul>
    </form>

    <script src="{{ url_for('static', filename='js/create_person.js') }}"></script>
{% endblock %}
