{% extends "base.html" %}

{% block content %}
<h1>Admin Homepage</h1>
<ul>
    <li><a href="{{ url_for('admin.create_person') }}">Person Input</a></li>
    <li><a href="{{ url_for('admin.update_person') }}">Update Person</a> - Includes setting on IR, LTIR</li>
    <li><a href="{{ url_for('admin.create_contract') }}">Contract Input</a></li>
    <li><a href="{{ url_for('admin.create_pto') }}">PTO Input</a></li>
    <li><a href="{{ url_for('admin.update_draft') }}">Draft Updates</a></li>
    <li><a href="{{ url_for('admin.buyout_route') }}">Buyout Input</a></li>
    <li><a href="{{ url_for('admin.qualifying_route') }}">Qualify an RFA</a></li>
    <li><a href="{{ url_for('admin.input_trade') }}">Trade Input</a></li>
    <li>
        View/Update Season data <br/>
        <select id="season">
            <option value="">-- None --</option>
        {% for season in seasons %}
            <option value="{{ season[0] }}">{{ season[1] }}</option>
        {% endfor %}
        </select>
        <input type="button" onclick="window.location.href=window.location.href + `/season/${document.getElementById('season').value}`" value="View/Edit"/>
    </li>
    <li>
        Update team data or roster<br/>
        <select id="team">
            <option value="">-- None --</option>
        {% for team in teams %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
        {% endfor %}
        </select>
        <input type="date" id="catchup-date"/>
        <br/>
        <input type="button" id="adjust-roster" value="Adjust Roster"/>
        <input type="button" id="update-team" value="Update team"/>
    </li>
    <li><a href="{{ url_for('admin.manage_waivers') }}">Manage Waivers</a></li>
    <li><a href="{{ url_for('admin.recalculate_daily_cap') }}">Recalculate Daily Cap</a></li>
    <li><a href="{{ url_for('admin.create_new_note') }}">Add a Note</a></li>
    <li><a href="{{ url_for('admin.display_notes') }}">All Notes</a></li>
    <li>
        For all notes about a specific table, select the table from the dropdown<br/>
        <label for="table">Table:</label>
        <select id="table">
            <option value="">-- None --</option>
            <option value="team">team</option>
            <option value="person">person</option>
            <option value="season">season</option>
            <option value="team_season">team_season</option>
            <option value="draft_pick">draft_pick</option>
            <option value="transaction">transaction</option>
            <option value="contract">contract</option>
            <option value="retained_salary">retained_salary</option>
            <option value="asset">asset</option>
            <option value="user">user</option>
            <option value="contract_year">contract_year</option>
            <option value="buyout_year">buyout_year</option>
            <option value="transaction_asset">transaction_asset</option>
        </select>
        <input type="button" class="notes" value="Go to Notes"/>
    </li>
    <li>
        Lists of all notes for a specific record can be found at /admin/notes/&lt;table&gt;/&lt;record_id&gt;<br/>
        Table names are listed in the dropdown above<br/>
        If you know your record's ID, please input it here, select a table above, and click the button<br/>
        <label for="record_id">Record ID:</label>
        <input id="record_id" type="number" min="0" size="6"/>
        <input type="button" class="notes" value="Go to Notes" />
    </li>
    <li><a href="/database">Database Interface</a></li>
    <li><a href="{{ url_for('admin.roll_over') }}">Season rollover</a></li>
    <li><a href="{{ url_for('admin.update_team_season') }}">TeamSeason Updates</a></li>
</ul>

<script>
    document.getElementById('adjust-roster').onclick = () => {
        let catchupDate = document.getElementById('catchup-date').value;
        let url = window.location.href + `/adjust-roster/${document.getElementById('team').value}`;
        if (catchupDate) {
            url += `?date=${catchupDate}`;
        }
        window.location.href = url;
    };
    document.getElementById('update-team').onclick = () => {
        let url = window.location.href + `/update-team/${document.getElementById('team').value}`;
        window.location.href = url;
    };
    document.querySelectorAll('.notes').forEach((el) => {
        el.onclick = () => {
            const url = (
                window.location.href + `/notes/${document.getElementById('table').value}/`
                + `${document.getElementById('record_id').value}`
            );
            window.location.href = url;
        }
    });
</script>
{% endblock %}
