{% extends "base.html" %}

{% block content %}
<h1>Manage Waivers</h1>

{% if data["waivers"]|length == 0 %}
<h2 style="padding: 1rem">No pending waivers</h2>
{% else %}
<input id="transaction-date" type="date">
<input id="clear-all" type="button" value="Clear All">
{% endif %}

<table>
    <thead>
        <tr class="head">
            <td>Name</td>
            <td>ID</td>
            <td>Position</td>
            <td>Contract ID</td>
            <td>Waived By</td>
            <td>Actions</td>
    </thead>
    <tbody>
        {% for waiver in data["waivers"] %}
        <tr>
            <td><a href="{{ url_for('main.person_route', person_id=waiver['person_id']) }}">{{ waiver["name"] }}</a></td>
            <td>{{ waiver["person_id"] }}</td>
            <td>{{ waiver["position"] }}</td>
            <td>{{ waiver["contract_id"] }}</td>
            <td>{{ waiver["team_name"] }}</td>
            <td>
                <input id="clear_{{ waiver['transaction_asset'] }}" type="button" value="Clear">
                <label for="in-nhl-{{ waiver['transaction_asset'] }}">
                    <input id="in-nhl-{{ waiver['transaction_asset'] }}" type="checkbox">
                    Keep in NHL
                </label>
                &nbsp;&nbsp;
                <select id="team_{{ waiver['transaction_asset'] }}">
                    <option value="">-- None --</option>
                {% for team in data["teams"] %}
                    <option value="{{ team[0] }}">{{ team[1] }}</option>
                {% endfor %}
                </select>
                <input id="claim_{{ waiver['transaction_asset'] }}" type="button" value="Claim" disabled>
                <input id="terminate_{{ waiver['transaction_asset'] }}" type="button" value="Terminate">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script src="{{ url_for('static', filename='js/manage_waivers.js') }}"></script>
{% endblock %}
