{% extends "base.html" %}

{% block content %}
    <h2>Season Rollover</h2>
    <br/>
    <input type="button" id="update-stats" value="Update Stats"/>

    <h3>Entry Level Slide Candidates</h3>
    <div>
        A player on an entry level deal can have their deal slide and extend one year if:
        <ul>
            <li>The player does not play a minimum of 10 NHL games (in the regular season or the playoffs)</li>
            <li>The player is less than 20 years old at the end of their contract's first calendar year</li>
            <li>If the player does not turn 19 before the end of their contract's first calendar year, their contract can slide twice</li>
        </ul>
        If a player on this list should not have their deal slid,
        please set <code>contract.elc_slide</code> to <code>False</code> for this record
    </div>
    <div class="scroll">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Games Played</td>
                    <td>ELC Signing Age</td>
                    <td>Cap Hit</td>
                    <td>Slide Count</td>
                    <td>Contract ID</td>
                </tr>
            </thead>
            <tbody>
                {% for entry in data["slide"] %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.person_route', person_id=entry[0]) }}">{{ entry[5] }}</a>
                    </td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[4] }}</td>
                    <td>{{ "${:,}".format(entry[6]) }}</td>
                    <td>{{ entry[3] }}</td>
                    <td>{{ entry[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Performance Bonuses</h3>
    <div class="scroll">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Total Performance Bonuses</td>
                    <td>Earned Performance Bonuses</td>
                    <td>Team</td>
                    <td>Contract ID</td>
                </tr>
            </thead>
            <tbody>
                {% for entry in data["bonuses"] %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.person_route', person_id=entry['person_id']) }}">{{ entry["name"] }}</a>
                    </td>
                    <td>{{ "${:,}".format(entry["performance_bonuses"]) }}</td>
                    <td>
                        <input id="earned-{{entry['contract_id']}}" type="number" step="10000" value="{{ entry['earned_bonuses'] }}">
                        <input class="set-p-bonus" type="button" value="Set">
                        {% if entry["entry_level"] %}
                        (EL)
                        {% endif %}
                    </td>
                    <td>{{ entry["team"] }}</td>
                    <td>{{ entry["contract_id"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Group 6 Free Agency Candidates</h3>
    <div>
        Players on expiring contracts become group 6 free agents when:
        <ul>
            <li>They are 25 or older as of the 30th June of the year the contract expires</li>
            <li>The player has completed 3 or more professional seasons (11 pro games if under 20, 1 pro game otherwise) in the NHL, minors, or Europe while under contract</li>
            <li>The player has played under 80 NHL games as a skater or under 28 NHL games (30 minutes per game) as a goaltender</li>
        </ul>
    </div>
    <div class="scroll">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Season Count</td>
                    <td>NHL Games</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for entry in data["group_six"] %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.person_route', person_id=entry['person_id']) }}">{{ entry["name"] }}</a>
                    </td>
                    <td>{{ entry["position"] }}</td>
                    <td>{{ entry["season_count"] or "-" }}</td>
                    <td>{{ entry["nhl_games"] or "-" }}</td>
                    <td>
                        <input id="g6-{{entry['contract_id']}}" type="button" value="Set Group 6 UFA">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <h3>Pre-rollover checklist</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-question">
            {{ form.set_slides() }} <strong>{{ form.set_slides.label }}</strong>
        </div>
        <div class="form-question">
            {{ form.skip_stats() }} <strong>{{ form.skip_stats.label }}</strong>
        </div>
        <div class="form-question">
            {{ form.set_unqualified() }} <strong>{{ form.set_unqualified.label }}</strong>
        </div>
        <div class="form-question">
            {{ form.set_bonafide() }} <strong>{{ form.set_bonafide.label }}</strong>
        </div>
        <div class="form-question">
            {{ form.created_stats() }} <strong>{{ form.created_stats.label }}</strong>
        </div>
        <div class="form-question">
            <br/>{{ form.roll_over() }}
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/rollover.js') }}"></script>

{% endblock %}
