{% extends "base.html" %}

{% block content %}
<h2>View/Edit Season {{ form.name.data }}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="questions">
        <div class="section">
            <h3>Salary Cap</h3>
            <div class="form-question">
                <strong>{{ form.salary_cap.label }}</strong> <br/>
                {{ form.salary_cap() }}
                {% for error in form.salary_cap.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.salary_floor.label }}</strong> <br/>
                {{ form.salary_floor() }}
                {% for error in form.salary_floor.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.minimum_salary.label }}</strong> <br/>
                {{ form.minimum_salary() }}
                {% for error in form.minimum_salary.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.max_buriable.label }}</strong> <br/>
                {{ form.max_buriable() }}
                {% for error in form.max_buriable.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.bonus_overage.label }}</strong> <br/>
                {{ form.bonus_overage() }}
                {% for error in form.bonus_overage.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="section">
            <h3>Season Dates</h3>
            <div class="form-question">
                <strong>{{ form.draft_date.label }}</strong> <br/>
                {{ form.draft_date() }}
                {% for error in form.draft_date.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.free_agency_opening.label }}</strong> <br/>
                {{ form.free_agency_opening() }}
                {% for error in form.free_agency_opening.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.regular_season.label }}</strong> <br/>
                {{ form.regular_season() }}
                {% for error in form.regular_season.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.playoffs.label }}</strong> <br/>
                {{ form.playoffs() }}
                {% for error in form.playoffs.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="section">
            <h3>Entry Level Limits</h3>
            <div class="form-question">
                <strong>{{ form.max_elc_salary.label }}</strong> <br/>
                {{ form.max_elc_salary() }}
                {% for error in form.max_elc_salary.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.max_elc_minors.label }}</strong> <br/>
                {{ form.max_elc_minors() }}
                {% for error in form.max_elc_minors.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.max_elc_performance.label }}</strong> <br/>
                {{ form.max_elc_performance() }}
                {% for error in form.max_elc_performance.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="form-question">
            <br/>{{ form.submit() }}
        </div>
    </form>

{% endblock %}
