{% extends "base.html" %}

{% block content %}
<h2>View/Edit Team-Season</h2>

<div class="content">
    <form action="" method="post" novalidate class="columns">
        <label for="team"><strong>Team</strong>
            <br/>
            <select id="team" name="team" required="" size="32">
                {% for team in teams %}
                <option value="{{ team[0] }}">
                    {{ team[1] }}
                </option>
                {% endfor %}
            </select>
        </label>
        <div class="stack">
            <label for="season"><strong>Season</strong>
                <br/>
                <select id="season" name="season" required="" size="29">
                    {% for season in seasons %}
                    <option value="{{ season[0] }}">
                        {{ season[1] }}
                    </option>
                    {% endfor %}
                </select>
            </label>
            <input type="button" id="load" value="Load Data"/>
        </div>
    </form>
    <div id="team-season"></div>
    <div id="logo-preview"></div>
</div>
<script src="{{ url_for('static', filename='js/render_team_season.js') }}"></script>

{% endblock %}
