{% extends "base.html" %}

{% block content %}
<h1>Update Team Record</h1>
<div class="notes">
        <h3>Notes</h3>
        <ul>
            <li>Logo updates propagate to future team_season records</li>
            <li>Name is supposed to be team location and team name combined</li>
        </ul>
</div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.id() }}
        <div>
            {{ form.name.label }} <br/>
            {{ form.name() }}
        </div>
        <div>
            {{ form.first_year.label }} <br/>
            {{ form.first_year() }}
            {% for error in form.first_year.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.team_location.label }} <br/>
            {{ form.team_location() }}
            {% for error in form.team_location.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.team_name.label }} <br/>
            {{ form.team_name() }}
            {% for error in form.team_name.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.team_logo.label }} <br/>
            {{ form.team_logo() }}
            {% for error in form.team_logo.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
            <div id="logo-preview"></div>
        </div>
        <div>
            {{ form.active.label }} <br/>
            {{ form.active() }}
            {% for error in form.active.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.update() }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/update_team.js') }}"></script>    

{% endblock %}
