<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {% if title %}
        {{ title }} - 
        {% endif %}
        {% if name %}
        {{ name }}
        {% else %}
        CapSpace
        {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/planet.svg') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/column-toggle.css') }}"/>
    {% if css %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/' + css) }}"/>
    {% endif %}
</head>
<body>
    <div id="header" class="underbar">
        <a href="/" id="logo" class="header-section">
            <img id="logo-image" alt="Site logo: a planet with a ring" src="{{ url_for('static', filename='img/planet.svg') }}"> 
            <div class="header-item">
                {% if name %}
                    {{ name }}
                {% else %}
                    CapSpace
                {% endif %}
            </div>
        </a>
        <input id="toggle" type="checkbox">
        <div class="small-screen">
            {% if g.search_form %}
            <div class="search-bar submenu">
                <label for="search" class="toggle-label">Search
                    <input id="search" class="toggle" type="checkbox">
                </label>
                <div class="shaded collapsed">
                    <form id="search-form" method="get" action="{{ url_for('main.search_route') }}">
                        {{ g.search_form.search(size=64) }}
                    </form>
                </div>
            </div>
            {% endif %}
            <label class="toggle-label" for="toggle" id="menu-toggle">
                Menu
            </label>
            <div id="menu" class="header-section">
                <!--a class="header-item" href="{{ url_for('main.index') }}">Home</a-->
                <div class="header-item submenu">
                    <label for="team-menu" class="toggle-label">Team</label>
                    <input id="team-menu" class="toggle" type="checkbox">
                    <div class="shaded collapsed">
                        <a class="header-item" href="{{ url_for('main.teams') }}">Current teams</a><br/>
                        <a class="header-item" href="{{ url_for('main.defunct_teams') }}">Defunct teams</a><br/>
                        <a class="header-item" href="{{ url_for('main.team_logos') }}">Logo histories</a>
                    </div>
                </div>
                <a class="header-item" href="{{ url_for('main.trades_display') }}">Trades</a>
                <div class="header-item submenu">
                    <label for="interactive" class="toggle-label">Interactive</label>
                    <input id="interactive" class="toggle" type="checkbox">
                    <div class="shaded collapsed">
                        <a href="{{ url_for('main.buyout_route') }}">Buyout Calculator</a>
                        <br/>
                        <a href="{{ url_for('main.trade_proposal') }}">Trade Proposal</a>
                        <br/>
                        <a href="{{ url_for('main.qualifying_route') }}">Qualifying Offer Calculation</a>
                    </div>
                </div>
                <a class="header-item" href="{{ url_for('main.entry_draft') }}">Entry Draft</a>
                <div class="header-item submenu">
                    <label for="free_agents" class="toggle-label">Players</label>
                    <input id="free_agents" class="toggle" type="checkbox">
                    <div class="shaded collapsed">
                        <a href="{{ url_for('main.signings') }}">Signings</a>
                        <br/>
                        <a href="{{ url_for('main.free_agents') }}">All Free Agents</a>
                        <br/>
                        &nbsp;<a href="{{ url_for('main.restricted_free_agents') }}">RFAs</a>
                        <br/>
                        &nbsp;<a href="{{ url_for('main.unrestricted_free_agents') }}">UFAs</a>
                        <br/>
                        <a href="{{ url_for('main.transactions_page') }}">Transactions</a>
                    </div>
                </div>
                {% if current_user.is_anonymous %}
                <a class="header-item" href="{{ url_for('user.login') }}">Login</a>
                <a class="header-item" href="{{ url_for('user.register') }}">Register</a>
                {% else %}
                    {% if current_user.admin %}
                    <a class="header-item" href="{{ url_for('admin.index') }}">Admin</a>
                    {% endif %}
                <a class="header-item" href="{{ url_for('user.logout') }}">Logout</a>
                <a class="header-item" href="{{ url_for('user.user', username=current_user.username) }}">
                    <span class="user">{{current_user.username}}</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main">
        <input id="show-collapsed-columns" type="checkbox">
        <label id="show-collapsed-label" for="show-collapsed-columns">
            <div id="show-collapsed-toggle"></div>
            Show Collapsed Columns
        </label>
        <div class="page">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashed">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <footer class="overbar">
            <div class="footer-item">
                <div>Created by Ian</div>
                <a href="https://gitlab.com/ian_g/capspace" target="_blank">Website source</a>
            </div>
            <div class="footer-item">
                <a href="{{ url_for('main.about') }}">About</a>
            </div>
            <div class="footer-item">
                <a href="{{ url_for('main.thanks') }}">Acknowledgements</a>
            </div>
            <div class="footer-item">
                <a href="{{ url_for('main.tips') }}">Tips</a>
            </div>
            <div class="footer-item">
                <a href="{{ url_for('main.site_progress') }}">Site progress</a>
            </div>
        </footer>
    </div>
</body>
</html>
