{% extends "base.html" %}

{% block content %}
<div class="team">
    <img class="team-logo" alt="{{data['name']}} team logo" src="{{ url_for('static', filename=logo) }}"> 
    <div>
        <h3>{{ data["name"] or "N/A" }} ({{ data["abbreviation"] or "N/A" }})</h3>
        <div>Est. {{ data["first_year"] or 0000 }}</div>
    </div>
    <div>
        <div>
            Current Cap Hit:
            {{ "${:,}".format(data["cap_hit"]) }}
        </div>
        <div>
            Projected Cap Hit:
            {% if "cap_hit" in data["season"] %}
                {{ "${:,}".format(data["season"]["cap_hit"]) }}
            {% endif %}
        </div>
        <div>
            Projected Cap Space:
            {% if "cap_hit" in data["season"] %}
                {{ "${:,}".format(data["salary_cap"] - data["season"]["cap_hit"]) }}
            {% endif %}
        </div>
        <a title="Daily Cap Data" href="{{ url_for('main.daily_cap', team_id=data['id']) }}">
            Daily Cap Breakdown
        </a>
        <br/>
        <a title="Team logo history" href="{{ url_for('main.team_logo_page', team_id=data['abbreviation'].lower()) }}">
            Team logo history
        </a>
    </div>
    <div>
        <div>Contracts: {{ data["season"]["contracts"] }}</div>
        <div>Roster: {{ data["roster_count"] }}/50</div>
        <div>Injuries: {{ data["injuries"] }}</div>
        <div>Retained Contracts: {{ data["season"]["retained_contracts"] }}</div>
    </div>
</div>

{% include "_team_picks.html" %}
{% include "_active_roster.html" %}
{% if "non_roster" in data %}
    {% include "_non_roster.html" %}
{% endif %}

{% with table="team", record=data["id"] %}
    {% include "_notes.html" %}
{% endwith %}

{% endblock %}
