{% extends "base.html" %}

{% block content %}
    {% with table="transaction", record="" %}
        {% include "_notes.html" %}
    {% endwith %}
    
    <div class="trades">
        <form>
            <label for="from"><strong>Transactions From: </strong></label>
            <input type="date" id="from" value="">
            <br/>
            <label for="to"><strong>Transactions To: </strong></label>
            <input type="date" id="to" value="">
            <br/>
            <input id="filter-dates" type="button" value="Filter">
        </form>

        <form>
            <label class="form-question">
                <strong>Team Filter</strong>
                <select id="team-filter" value="">
                    <option value=""></option>
                    {% for team in teams %}
                    <option value="{{team[0]}}">{{ team[1] }}</option>
                    {% endfor %}
                </select>
            </label>
        </form>
        {% for trade in trades %}
            {% include "_trade_details.html" %}
        {% endfor %}
        {% if not all_loaded %}
            <input type="button" id="load-more" value="Load more trades"/>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/trades.js') }}"></script>

{% endblock %}
