{% extends "base.html" %}

{% block content %}
    <h2>
        Trade
        {% if proposal %}
        Proposal
        {% endif %}
    </h2>

    {% include "_trade_details.html" %}

    {% if save_proposal %}
    <form action="" method="post" novalidate>
        {{ save_proposal.hidden_tag() }}
        {{ save_proposal.submit() }}
    </form>
    {% endif %}
{% endblock %}
